@page
@model SacrementPlanner.Pages.Meetings.IndexModel

@{
   ViewData["Title"] = "Sacrament Meetings";
}

<div class="container mt-4">
   <h1 class="text-center">@ViewData["Title"]</h1>

   <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="text-muted">Plan and organize your meetings effectively.</p>
      <a asp-page="Create" class="btn btn-primary btn-sm">Create New Meeting</a>
   </div>

   <table class="table table-hover border">
      <thead class="thead-dark">
         <tr>
            <th>Date</th>
            <th>Conducting</th>
            <th>Opening Hymn</th>
            <th>Closing Hymn</th>
            <th>Sacrament Hymn</th>
            <th>Intermediate Number</th>
            <th>Opening Prayer</th>
            <th>Closing Prayer</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         @if (Model.Meeting != null && Model.Meeting.Any())
         {
            @foreach (var item in Model.Meeting)
            {
               <tr>
                  <td>@Html.DisplayFor(modelItem => item.Date)</td>
                  <td>@Html.DisplayFor(modelItem => item.Conducting)</td>
                  <td>@Html.DisplayFor(modelItem => item.OpeningHymn)</td>
                  <td>@Html.DisplayFor(modelItem => item.ClosingHymn)</td>
                  <td>@Html.DisplayFor(modelItem => item.SacramentHymn)</td>
                  <td>@Html.DisplayFor(modelItem => item.IntermediateNumber)</td>
                  <td>@Html.DisplayFor(modelItem => item.OpeningPrayer)</td>
                  <td>@Html.DisplayFor(modelItem => item.ClosingPrayer)</td>
                  <td>
                     <div class="btn-group btn-group-sm" role="group">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                     </div>
                  </td>
               </tr>
            }
         }
         else
         {
            <tr>
               <td colspan="9" class="text-center">No meetings available.</td>
            </tr>
         }
      </tbody>
   </table>
</div>